---
import { Image } from "astro:assets";

const { src, srcRight, width, height, alt, caption} = Astro.props;
---


<div class="flex justify-center items-center">
    <div class="relative pr-10 mr-6">
    <figure class="flex flex-col items-center">
    <div class="flex gap-6">
    {<Image src={src} alt={alt} width={width} height={height} />}
    
    {<Image src={srcRight} alt={alt} width={width} height={height} />} 
    </div>
    {<figcaption class="mt-2 flex-center">{caption}</figcaption>}
    </figure>
    </div>
    </div>